<!DOCTYPE html>
<html lang="en" style="width: 868.6px;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HOMEPAGE[1]</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
</head>

<body style="width: 976.6px;">
    <h1 style="font-size: 29.5px;color: #633a11;width: 1535.6px;height: 42.4px;" >CONFERENCE REVIEW</h1>
    <nav class="navbar navbar-light navbar-expand-md" style="background: #f9e814;width: 1535.6px;height: 76.5px;">
        <div class="container-fluid"><a class="navbar-brand" href="#" style="font-size: 17px;width: 210.8px;">HOME</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><a href="/author" style="width: 165.7px;">AUTHOR</a>
                <a href="/show_author" style="width: 165.7px;">SHOW AUTHOR</a>
              <a href="/paper" style="width: 134.4px;">PAPER</a>
                <a href="/show_paper" style="width: 165.7px;">SHOW PAPER</a>
                <a href="/reviewer" style="width: 161.8px;">REVIEWER</a>
                <a href="/show_reviewer" style="width: 161.8px;">SHOW REVIEWER</a>
                <a href="/review" style="width: 118.9px;">REVIEW</a>
                <a href="/show_review" style="width: 118.9px;">SHOW REVIEW</a>
            </div>
        </div>
    </nav><img width="1261" height="505" style="padding: 0;height: 562px;width: 1535px;" src="static/clipboard-image.png">
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>