
<!DOCTYPE html>
<html lang="en">
{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HAS</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="static/Responsive-Form-Contact-Form-Clean.css">
    <link rel="stylesheet" href="static/Responsive-Form.css">
</head>

<body>
    <h1>LOGIN</h1>
    <div class="container">
        <div>
            <form method = 'post' action = '/login'>
                <div class="form-group mb-3">
                    <div id="formdiv" style="background: #ceea82;">
                        <div class="row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;background: #ffffa7;">
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 24px;font-weight: bold;">Email</p>
                            </div>
                            <div class="col-md-10 offset-md-1"><input class="form-control" type="email"></div>
                        </div>
                        <div class="row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;background: #ffffa7;">
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 24px;font-weight: bold;">Password</p>
                            </div>
                            <div class="col-md-10 offset-md-1"><input class="form-control" type="password"></div>
                        </div>
                        <div class="row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;background: #ffffa7;">
                            <div class="col-md-8 offset-md-1">
                                <p style="margin-left: 2%;font-family: Roboto, sans-serif;font-size: 24px;font-weight: bold;">User</p>
                            </div>
                            <div class="col-md-10 offset-md-1"><input class="form-control" type="hidden" value = {{ usertype }}></div>
                        </div>
                        <div class="row" style="margin-right: 0px;margin-left: 0px;padding-top: 24px;background: #ffffa7;">
                            <div class="col-12 col-md-4 offset-md-4"><button class="btn btn-light btn-lg" style="font-family: Roboto, sans-serif;transform: translate(21px);" type="reset">Clear </button><button class="btn btn-light btn-lg" style="margin-left:16px;" type="submit">Submit </button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
{% endblock %}
</html>