
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Animated-CSS-Waves-Background-SVG.css">
</head>

<body><div class="svg-container">
<div class="waveWrapper waveAnimation">
  <div class="waveWrapperInner bgTop">
    <div class="wave waveTop" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-top.png')"></div>
  </div>
  <div class="waveWrapperInner bgMiddle">
    <div class="wave waveMiddle" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-mid.png')"></div>
  </div>
  <div class="waveWrapperInner bgBottom">
    <div class="wave waveBottom" style="background-image: url('http://front-end-noobs.com/jecko/img/wave-bot.png')"></div>
  </div>
</div>
</div>

	<label class="form-label" style="color: var(--bs-gray-200);font-size: 21px;font-weight: bold;text-align: center;box-shadow: 0px 0px;display: block;position: static;overflow: visible;transform: perspective(0px);filter: invert(0%);padding: 291px;">DATA ADDED SUCCESSFULLY</label>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script></body>

</html>